<div class="row" ng-controller="ContactsCtrl">
    <div class="col-sm-3 col-lg-3">
    <div ng-if="adressbookOPT.adressbookLoaded" 
        arbalo-grid 
        title="Adressbücher" 
        source="adressbookOPT.adressbooks" 
        structure="adressbookOPT.structure" 
        actions="AED" 
        row-click="true" 
        fn="adressbookFunction(action, param, data)"    
        row-droppable="true"            
    ></div>
    </div>
    <div class="col-sm-4 col-lg-4">
        <div ng-if="contactsOPT.contactsLoaded" 
            arbalo-grid 
            title="Kontakte" 
            source="contactsOPT.contactsOverview" 
            structure="contactsOPT.structure" 
            actions="N" 
            row-click="true"  
            can-update="true" 
            fn="contactFunction(action, param, data)" 
            custom-header-settings="contactCustomHeader" 
            row-draggable="true"
        ></div>
    </div>
    <div class="col-sm-5 col-lg-5">
        <div ng-if="contactsDetailOPT.contactLoaded" class="panel panel-white no-border-radius">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <h4 ng-if="contactsOPT.type===1">{{contactsDetailOPT.contact.firstName}} {{contactsDetailOPT.contact.lastName}}</h4>
                    <h4 ng-if="contactsOPT.type===2">{{contactsDetailOPT.contact.name}}</h4>
                </div>
                <div class="pull-right panel-right-actions">
                    <a ng-if="contactsDetailOPT.edit" ng-click="contactSave()" class="text-black margin-left-L"><i class="fa fa-floppy-o"></i></a>
                    <a ng-if="contactsDetailOPT.edit && contactsDetailOPT.contact.id" modal-confirm title="Löschen" text="Ausgewählten Kontakt wirklich löschen?" function="contactDelete()" class="text-black margin-left-L"><i class="fa fa-trash-o"></i></a>
                    <a ng-click="editContact()" class="text-black margin-left-L"><i ng-if="contactsDetailOPT.edit" class="fa fa-toggle-on"></i><i ng-if="!contactsDetailOPT.edit" class="fa fa-toggle-off"></i><i class="margin-left-M fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <!--EDIT-->
                <form name="contactEdit" ng-if="contactsDetailOPT.edit">
                    <div ng-repeat="(key, value) in contactsDetailOPT.structure">                    
                        <div class="form-horizontal">
                            <div class="form-group">                                     
                                <div class="col-sm-2"><label>{{value.label}}</label></div>   
                                <div class="col-sm-10"><div arbalo-input data="contactsDetailOPT.contact[key]" structure="value"></div></div>  
                            </div>                           
                        </div>                    
                    </div>  
                </form>
                <!--VIEW-->
                <div ng-if="!contactsDetailOPT.edit">
                    <div class="row" ng-repeat="(key, value) in contactsDetailOPT.structure" ng-if="contactsDetailOPT.contact[key]"> 
                        <div class="col-md-2 text-muted">{{value.label}}</div>
                        <div class="col-md-10">
                            <h4><div arbalo-display data="contactsDetailOPT.contact[key]" structure="value"></div></h4>
                        </div>                    
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>

