<div class="container-fluid"> 
	<div class="row">
        <div class="col-md-2">
            <pre class="code">{{ contacts | json }}</pre>
        </div>
        <div class="col-md-2"> 
			<div class="list-group">
	            <a href="javascript:void(0)" ng-click="contactsOPT.groupSel=null" class="list-group-item" ng-class="{'active':contactsOPT.groupSel==null}"><span class="badge">{{contacts.length}}</span>All</a>
                <a href="javascript:void(0)" ng-click="contactsOPT.groupSel=group;contactsOPT.contactDisplay=null;" class="list-group-item" 
                ng-class="{'active':contactsOPT.groupSel==group}" ng-repeat="group in groupOPT.groups | orderBy:predicate"><span class="badge">{{groupOPT.groupcount[group]}}</span>{{group}}</a>
            </div>
        </div>
        <div class="col-md-2">
			<div class="list-group">
                <a href="javascript:void(0)" ng-repeat="item in contacts | orderBy:'lastName'" ng-if="contactsOPT.groupSel==null || groupCheck(item.groups)" 
                ng-class="{'active':contactsOPT.contactDisplay._id==item._id}" ng-click="contactsShow(item)" class="list-group-item">
                	{{item.lastName}} {{item.firstName}}
                </a>
            </div>
        </div>   
        <div class="col-md-4">  
            <div class="panel panel-primary">
                <div class="panel-heading">
                	<h3 class="panel-title">
                        <span ng-if="contactsOPT.contactDisplay.lastName">{{contactsOPT.contactDisplay.lastName}}</span> 
                        <span ng-if="contactsOPT.contactDisplay.firstName">{{contactsOPT.contactDisplay.firstName}}</span>
                        <button ng-if="!contactsOPT.contactEdit && contactsOPT.contactDisplay" ng-click="contactsEdit()" class="btn btn-default btn-xs pull-right"><span class="fa fa-pencil"></span> Edit</button>
                        <button ng-if="contactsOPT.contactEdit" ng-click="contatcsDelete()" class="btn btn-default btn-xs pull-right"><span class="fa fa-trash-o"></span> Delete</button>
                        <button ng-if="contactsOPT.contactEdit" ng-click="contatcsCancel()" class="btn btn-default btn-xs pull-right margin-right-S"><span class="fa fa-reply"></span> Cancel</button>
                        <button ng-if="contactsOPT.contactEdit" ng-click="contatcsSave()" class="btn btn-default btn-xs pull-right margin-right-S"><span class="fa fa-save"></span> Save</button>
                    
                    </h3>
                </div>
                <div class="panel-body"> 
                    
                                                               
        	<div ng-if="contactsOPT.contactDisplay">
                 <div ng-if="!contactsOPT.contactEdit">                 	
                    <div ng-if="contactsOPT.contactDisplay.jobTitle || contactsOPT.contactDisplay.company">
                        <span ng-if="contactsOPT.contactDisplay.jobTitle">{{contactsOPT.contactDisplay.jobTitle}}</span> 
                        <span ng-if="contactsOPT.contactDisplay.company">{{contactsOPT.contactDisplay.company}}</span>
                        <hr />
                    </div>                  
                    <div ng-if="contactsOPT.contactDisplay.phone.length">
	                    <div class="row" ng-repeat="item in contactsOPT.contactDisplay.phone" ng-if="item.text!=''">
                        	<div class="col-md-2"><strong>{{item.type}}</strong></div>
                            <div class="col-md-10">{{item.text}}</div>
                        </div>
                        <hr />
                    </div>
                    <div ng-if="contactsOPT.contactDisplay.email.length">
	                    <div class="row" ng-repeat="item in contactsOPT.contactDisplay.email" ng-if="item.text!=''">
                        	<div class="col-md-2"><strong>{{item.type}}</strong></div>
                            <div class="col-md-10">{{item.text}}</div>
                        </div>
                        <hr />
                    </div> 
                    <div ng-if="contactsOPT.contactDisplay.address.length">
	                    <div class="row" ng-repeat="item in contactsOPT.contactDisplay.address" ng-if="item.street!=='' || item.zipCode!=='' || item.city!=='' || item.country!==''">
                        	<div class="col-md-2"><strong>{{item.type}}</strong></div>
                            <div class="col-md-10">
                            	<div ng-if="item.street!==''">{{item.street}}</div>
                                <div ng-if="item.zipCode!=='' || item.city!==''">{{item.zipCode}} {{item.city}}</div>
                                {{item.country}}
                            </div>
                        </div>
                        <hr />
                    </div>                    
                </div>

                <div ng-if="contactsOPT.contactEdit">

                    <div class="clearfix"></div>
                    <form class="form-horizontal">
                    	<!--Name-->
                        <div class="form-group">
                        	<label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
	                        	<input type="text" class="form-control" ng-model="contactsOPT.contactSave.lastName" placeholder="Last Name"/>
                            </div>
                        </div>
                        <div class="form-group">
                        	<label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">                            
	                        	<input type="text" class="form-control" ng-model="contactsOPT.contactSave.firstName" placeholder="First Name"/>
                            </div>
                        </div>
                        <hr />
                    	<!--Company-->
                        <div class="form-group" ng-if="contactsOPT.contactSave.jobTitle!==undefined">
                        	<label class="col-sm-3 control-label">Job Title</label>
                            <div class="col-sm-7">
	                        	<input type="text" class="form-control" ng-model="contactsOPT.contactSave.jobTitle" placeholder="Job Title"/>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" ng-if="contactsOPT.contactSave.jobTitle && contactsOPT.contactSave.jobTitle!=''" ng-click="" class="btn btn-danger pull-right">
                                	<span class="fa fa-times"></span>
                                </button>
                            </div>                            
                        </div>
                        <div class="form-group">
                        	<label class="col-sm-3 control-label">Company</label>
                            <div class="col-sm-7">                            
	                        	<input type="text" class="form-control" ng-model="contactsOPT.contactSave.company" placeholder="Company"/>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" ng-if="contactsOPT.contactSave.company && contactsOPT.contactSave.company!=''" ng-click="" class="btn btn-danger pull-right">
                                	<span class="fa fa-times"></span>
                                </button>
                            </div>                            
                        </div>
                        <hr />        
                        <!--Phone-->
						<div class="form-group" ng-repeat="item in contactsOPT.contactSave.phone track by $index">
                            <label class="col-sm-3 control-label">                            
                                <input ng-if="itemsOPT.phone.showNr===$index" type="text" class="form-control input-sm" ng-model="item.type" ng-blur="itemsOPT.phone.showNr=''"/>                                
                                <div ng-if="itemsOPT.phone.showNr!==$index" class="dropdown">                                	
                                    <span class="dropdown-toggle pointer">{{item.type}} <span class="fa fa-caret-down"></span></span>
                                <ul class="dropdown-menu text-left" role="menu">
                                    <li ng-repeat="type in itemsOPT.phone.items"><a href="javascript:void(0)" ng-click="setDropdown(type, item)">{{type}}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" ng-click="itemsOPT.phone.showNr=$index">Custom</a></li>						
                                </ul>
                                </div>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="item.text" placeholder="Phone" ng-blur="checkElement(item, itemsOPT.phone, contactsOPT.contactSave.phone, $index)"/>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" ng-if="item.text!==''" ng-click="removeElement(contactsOPT.contactSave.phone, $index)" class="btn btn-danger pull-right"><span class="fa fa-times"></span></button>
                            </div>
                        </div> 
                        <hr />        
                        <!--Email-->
                        <div class="form-group" ng-repeat="item in contactsOPT.contactSave.email track by $index">
                            <label class="col-sm-3 control-label">                            
                                <input ng-if="itemsOPT.email.showNr===$index" type="text" class="form-control input-sm" ng-model="item.type" ng-blur="itemsOPT.email.showNr=''"/>                                
                                <div ng-if="itemsOPT.email.showNr!==$index" class="dropdown">                                	
                                    <span class="dropdown-toggle pointer">{{item.type}} <span class="fa fa-caret-down"></span></span>
                                <ul class="dropdown-menu text-left" role="menu">
                                    <li ng-repeat="type in itemsOPT.email.items"><a href="javascript:void(0)" ng-click="setDropdown(type, item)">{{type}}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" ng-click="itemsOPT.email.showNr=$index">Custom</a></li>						
                                </ul>
                                </div>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="item.text" placeholder="Mail" ng-blur="checkElement(item, itemsOPT.email, contactsOPT.contactSave.email, $index)"/>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" ng-if="item.text!==''" ng-click="removeElement(contactsOPT.contactSave.email, $index)" class="btn btn-danger pull-right"><span class="fa fa-times"></span></button>
                            </div>
                        </div>  
                        <hr />  
                        <!--Address-->                                                                                                              
                        <div class="form-group" ng-repeat="item in contactsOPT.contactSave.address">
                            <label class="col-sm-3 control-label">                            
                                <input ng-if="itemsOPT.address.showNr===$index" type="text" class="form-control input-sm" ng-model="item.type" ng-blur="itemsOPT.address.showNr=''"/>   
                                <div ng-if="itemsOPT.address.showNr!==$index" class="dropdown">                                	
                                    <span class="dropdown-toggle pointer">{{item.type}} <span class="fa fa-caret-down"></span></span>
                                <ul class="dropdown-menu text-left" role="menu">
                                    <li ng-repeat="type in itemsOPT.address.items"><a href="javascript:void(0)" ng-click="setDropdown(type, item)">{{type}}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" ng-click="itemsOPT.address.showNr=$index">Custom</a></li>						
                                </ul>
                                </div>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="item.street" placeholder="Street" ng-blur="checkElement(item, itemsOPT.address, contactsOPT.contactSave.address, $index)"/>
                                <div class="row">
                                	 <div class="col-md-6">
                                		<input type="text" class="form-control margin-top-S" ng-model="item.zipCode" placeholder="ZIP" 
                                        ng-blur="checkElement(item, itemsOPT.address, contactsOPT.contactSave.address, $index)"/>
                                	</div>
                                    <div class="col-md-6">
                                		<input type="text" class="form-control margin-top-S" ng-model="item.city" placeholder="City" 
                                        ng-blur="checkElement(item, itemsOPT.address, contactsOPT.contactSave.address, $index)"/>
                                	</div>
                                </div>
                                <input type="text" class="form-control margin-top-S" ng-model="item.country" placeholder="Country" 
                                ng-blur="checkElement(item, itemsOPT.address, contactsOPT.contactSave.address, $index)"/>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" ng-if="item.street!='' || item.zipCode!='' || item.city!='' || item.country!=''" 
                                ng-click="removeElement(contactsOPT.contactSave.address, $index)" class="btn btn-danger pull-right">
                                	<span class="fa fa-times"></span>
                                </button>
                            </div>
                        </div>                          
                    </form>
					<!--Additional-->
                    <div class="dropdown">                                	
                        <span class="dropdown-toggle pointer">Additional Fields <span class="fa fa-caret-down"></span></span>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="(key, value) in itemsOPT" ng-if="value.additional===1" ng-class="{'disabled': contactsOPT.contactSave[value.saveObjE]!==undefined}">
                        	<a href="javascript:void(0)" ng-click="additionalElement(value)">{{value.text}}</a>
                        </li>
                    </ul>
                    </div>                                        
                </div>              
            </div>



		</div></div>
		            
        </div>             
        <div class="col-md-2">
            <pre class="code">{{ groupOPT | json }}</pre>
            <pre class="code">{{ contactsOPT | json }}</pre>
        </div>
	</div>    
</div>